*{
    margin: 0;
    padding: 0;
}
.box{
    background-color: aqua;
    color: blueviolet;
}
.box1{
    color: yellow;
    padding: 10px;
    margin: 25px;
    border: 2px solid red;
    height: 200px;
    box-sizing: border-box;
}
.box2{
    color: red;
    padding: 10px;
    margin: 30px;
    border: 2px solid rgb(185, 5, 240);
    height: 200px;
    box-sizing: border-box;
}