img{
    height: 200px;
}
table{
    border: 2px solid black;
    height: 200px;
    width: 200px;
}
/* tr{
    border: 2px solid red;
} */
td{
    border: 2px solid red;
}
ul{
    /* list-style: circle; */
}
ol{
    list-style: lower-alpha;
}